body {
  font-family: 'Source Sans Pro', sans-serif;
  color: #1c1c1c;
  font-size: 1vw;
  line-height: 1.6;
}

h1 {
  margin-top: 0px;
  margin-bottom: 0px;
  color: #f7f7f7;
  font-size: 2.7em;
  line-height: 1.4;
  font-weight: 700;
}

h2 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 2.3em;
  line-height: 1.4;
  font-weight: 700;
}

h3 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 1.7em;
  line-height: 1.4;
  font-weight: 700;
}

h4 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 1.3em;
  line-height: 1.4;
  font-weight: 700;
}

h5 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 1em;
  line-height: 1.4;
  font-weight: 700;
}

h6 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 0.85em;
  line-height: 1.4;
  font-weight: 700;
}

p {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 1em;
}

a {
  font-size: 1em;
  text-decoration: none;
}

blockquote {
  margin-bottom: 1em;
  padding: 1em 2em;
  border-left: 0.4em solid #e2e2e2;
  font-size: 140%;
  line-height: 1.6;
}

.container {
  width: 1440px;
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding: 5em 10em;
}

.style_item {
  padding: 2em 0em;
  border-bottom: 0.1em solid #bdbdbd;
}

.html {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  overflow: hidden;
  width: 0px;
  height: 0px;
}

.c-rich-text p {
  margin-top: 0.5em;
  margin-bottom: 2em;
}

.c-rich-text h1 {
  margin-top: 0.2em;
  margin-bottom: 0.2em;
}

.c-rich-text h2 {
  margin-top: 0.2em;
  margin-bottom: 0.2em;
}

.c-rich-text h3 {
  margin-top: 0.2em;
  margin-bottom: 0.2em;
}

.c-rich-text h4 {
  margin-top: 0.2em;
  margin-bottom: 0.6em;
}

.c-rich-text h5 {
  margin-top: 0.2em;
  margin-bottom: 1em;
}

.c-rich-text h6 {
  margin-top: 0.2em;
  margin-bottom: 0.2em;
}

.section-styling {
  display: none;
}

.heading {
  font-family: 'Playfair Display', sans-serif;
  font-weight: 600;
}

.heading-2 {
  font-family: 'Playfair Display', sans-serif;
  font-weight: 600;
}

.heading-3 {
  font-family: 'Playfair Display', sans-serif;
  font-weight: 600;
}

.heading-4 {
  font-family: 'Playfair Display', sans-serif;
  font-weight: 600;
}

.heading-5 {
  font-family: 'Playfair Display', sans-serif;
  font-weight: 600;
}

.section {
  display: block;
  padding: 3vw 10vw;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #1c1c1c;
  color: #bea375;
}

.section.hero {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#1c1c1c), color-stop(15%, rgba(28, 28, 28, 0.5)), to(rgba(28, 28, 28, 0))), -webkit-gradient(linear, left top, left bottom, color-stop(20%, rgba(28, 28, 28, 0)), color-stop(93%, rgba(28, 28, 28, 0.8)), to(#1c1c1c)), -webkit-gradient(linear, left top, left bottom, from(rgba(28, 28, 28, 0.2)), to(rgba(28, 28, 28, 0.2))), url('../images/hai-phung-m4Pd_e-4zKs-unsplash-min.jpg');
  background-image: linear-gradient(180deg, #1c1c1c, rgba(28, 28, 28, 0.5) 15%, rgba(28, 28, 28, 0)), linear-gradient(180deg, rgba(28, 28, 28, 0) 20%, rgba(28, 28, 28, 0.8) 93%, #1c1c1c), linear-gradient(180deg, rgba(28, 28, 28, 0.2), rgba(28, 28, 28, 0.2)), url('../images/hai-phung-m4Pd_e-4zKs-unsplash-min.jpg');
  background-position: 0px 0px, 0px 0px, 0px 0px, 50% 50%;
  background-size: auto, auto, auto, cover;
}

.section.top-bot-section-padding {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 10vw;
  padding-bottom: 10vw;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.section.top-bot-section-padding.section-light {
  padding-top: 10vw;
  padding-bottom: 10vw;
  background-color: #f7f7f7;
}

.hero-container {
  position: relative;
  z-index: 1;
  width: 50vw;
  text-align: center;
}

.h1-heading {
  margin-bottom: 0.2em;
  font-family: 'Playfair Display', sans-serif;
  font-size: 5em;
  line-height: 1.3;
  font-weight: 500;
  letter-spacing: 0.05em;
}

.paragraph {
  color: #f7f7f7;
  font-size: 1.4em;
}

.paragraph._1em-spacing-bottom {
  margin-bottom: 1em;
  font-size: 1.4em;
  font-weight: 400;
}

.paragraph.text-dark {
  width: 50%;
  color: #2e2e2e;
}

.paragraph.dark-type {
  color: #2e2e2e;
}

.paragraph.price-text {
  font-family: 'Playfair Display', sans-serif;
  color: #2e2e2e;
}

.paragraph._0-5em-spacing-bottom {
  margin-bottom: 0.75em;
}

.button {
  margin-top: 1.5em;
  padding: 1em 2.2em;
  background-color: #f7f7f7;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  font-family: 'Playfair Display', sans-serif;
  color: #1c1c1c;
  font-size: 1.2em;
  letter-spacing: 0.075em;
  text-transform: none;
}

.button:hover {
  background-color: #bea375;
}

.button.button-dark {
  background-color: #2e2e2e;
  -webkit-transition-duration: 300ms;
  transition-duration: 300ms;
  color: #f7f7f7;
}

.button.button-dark:hover {
  background-color: #bea375;
}

.h2-heading {
  font-family: 'Playfair Display', sans-serif;
  color: #f7f7f7;
  font-size: 2.5em;
  font-weight: 500;
  letter-spacing: 0.075em;
}

.h2-heading.dark-type {
  color: #2e2e2e;
}

.services-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 50vw;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.underline {
  width: 10em;
  height: 0.05em;
  max-height: 0.1em;
  margin-top: 0.8em;
  margin-bottom: 1.5em;
  background-color: #bea375;
}

.underline.underline-small {
  width: 5em;
}

._3-column-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 3em;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

._3-column-card {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 22vw;
  height: auto;
  margin-left: 2em;
  padding: 4em 2em;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #2e2e2e;
  text-align: center;
}

._3-column-card.card-shadow {
  width: 27vw;
  border-style: none;
  border-width: 1px;
  border-color: rgba(28, 28, 28, 0.1);
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.16);
}

.heading-6 {
  font-family: 'Playfair Display', sans-serif;
  color: #f7f7f7;
  font-weight: 500;
  letter-spacing: 0.075em;
}

.services-image {
  background-image: url('../images/Straight_Razor.svg');
  background-position: 50% 50%;
  background-size: cover;
}

.services-icon {
  width: 5em;
  height: 3em;
  margin-bottom: 1em;
  -o-object-fit: contain;
  object-fit: contain;
}

.icon {
  width: 2.5em;
}

.two-column-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.two-column-container.flip-order {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.two-column-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.two-column-item.padding-inverted {
  width: 40%;
  padding-right: 0em;
  padding-left: 4em;
}

.two-column-item._0-padding {
  width: 60%;
  padding-right: 0em;
}

.price-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 40vw;
  height: auto;
  min-height: 40vh;
  margin-left: 3em;
  padding: 4em;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  background-color: #fff;
  box-shadow: 0 3px 15px 0 rgba(28, 28, 28, 0.1);
}

.h4-heading {
  font-family: 'Playfair Display', sans-serif;
  color: #2e2e2e;
  font-weight: 400;
  white-space: nowrap;
}

.price-list-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1.5em;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.price-list-item.price-list-last-item {
  margin-bottom: 0em;
}

.price-guide-line {
  width: 100%;
  height: 0.05em;
  margin-bottom: 0.3em;
  background-color: #bdbfbf;
}

.alternate-text {
  font-family: 'Playfair Display', sans-serif;
  color: #f7f7f7;
  font-size: 1.3em;
  line-height: 1.4;
  letter-spacing: 0.075em;
  white-space: nowrap;
}

.alternate-text._1em-margin-left {
  margin-left: 1px;
}

.alternate-text._1em-padding-left {
  padding-left: 1em;
  color: #2e2e2e;
  letter-spacing: 0.05em;
}

.alternate-text._1em-padding-right {
  padding-right: 1em;
  color: #2e2e2e;
  letter-spacing: 0.05em;
}

.alternate-text._1em-padding-right.text-dark {
  color: #2e2e2e;
}

.alternate-text.white {
  color: #f7f7f7;
}

.alternate-text.scroll-text {
  padding-left: 0.5em;
  font-size: 0.8em;
  text-align: center;
  letter-spacing: 0.3em;
  text-transform: uppercase;
}

.image {
  display: block;
  overflow: hidden;
  width: 60vw;
  height: 54vh;
  -o-object-fit: cover;
  object-fit: cover;
}

.footer {
  background-color: #2e2e2e;
}

.footer-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 10vh 10vw;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.footer-left-content-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer-image {
  width: auto;
  height: auto;
  margin-right: 2em;
}

.image-2 {
  display: block;
}

.image-3 {
  display: block;
  width: 8em;
}

.footer-right-content-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.social-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-left: 2em;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer-social-link {
  display: block;
  padding-left: 1em;
  opacity: 0.6;
  -webkit-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
}

.footer-social-link:hover {
  opacity: 1;
}

.footer-icon {
  width: 1.8em;
  height: 1.8em;
  -o-object-fit: contain;
  object-fit: contain;
}

.navbar {
  position: -webkit-sticky;
  position: sticky;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  z-index: 20000;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 2em;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #1c1c1c;
  color: #2e2e2e;
}

.nav-logo-image {
  display: block;
  width: 5em;
}

.nav-menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 20vw;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.nav-link {
  overflow: hidden;
  padding-left: 0em;
}

.nav-link-text {
  opacity: 0.8;
  -webkit-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
  font-family: 'Playfair Display', sans-serif;
  color: #f7f7f7;
  font-size: 1.1em;
  letter-spacing: 0.2em;
}

.nav-link-text:hover {
  opacity: 1;
}

.scroller-container {
  position: absolute;
  left: auto;
  top: auto;
  right: auto;
  bottom: 0%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  height: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: transparent;
  text-align: center;
}

.scroll-line {
  width: 1px;
  height: 6vh;
  margin-top: 1em;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#1c1c1c), to(#bea375));
  background-image: linear-gradient(0deg, #1c1c1c, #bea375);
}

.scroll-cross-container {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 0.75em;
  height: 0.75em;
  margin-top: 1em;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.div-block {
  width: 1px;
  height: 14px;
  background-color: #f7f7f7;
}

.cross-line {
  position: absolute;
  width: 1px;
  height: 15px;
  background-color: #f7f7f7;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.cross-line.cross-line-two {
  position: absolute;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.body {
  background-color: #1c1c1c;
}

.hero-overlay {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  background-color: #1c1c1c;
}

.hero-logo-container {
  padding-bottom: 2em;
}

.image-4 {
  width: 15vw;
}

.nav-underline {
  height: 0.15em;
  margin-top: 0.15em;
  background-color: #bea375;
  color: #bea375;
}

.bold-text {
  font-weight: 400;
}

.bold-text-2 {
  font-weight: 400;
}

.bold-text-3 {
  font-weight: 400;
}

@media screen and (max-width: 991px) {
  body {
    font-size: 14px;
  }

  .container {
    padding-right: 3em;
    padding-left: 3em;
  }

  .section.top-bot-section-padding.section-light {
    padding-right: 5vw;
    padding-bottom: 10vw;
    padding-left: 5vw;
  }

  .hero-container {
    width: 80vw;
  }

  .h1-heading {
    margin-bottom: 0.3em;
    font-size: 3.5em;
    line-height: 1.2;
  }

  .paragraph {
    font-size: 1.1em;
  }

  .paragraph._1em-spacing-bottom {
    font-size: 1.1em;
  }

  .button {
    font-size: 1.1em;
  }

  .button.button-dark {
    margin-top: 2em;
    margin-bottom: 2em;
  }

  .h2-heading {
    font-size: 2em;
  }

  .services-container {
    width: 80vw;
    max-width: 90vw;
  }

  ._3-column-container {
    width: 80vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  ._3-column-card.card-shadow {
    width: 100%;
    margin-bottom: 2em;
    margin-left: 0em;
    padding-right: 4em;
    padding-left: 4em;
  }

  .heading-6 {
    font-size: 1.5em;
  }

  .two-column-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
  }

  .two-column-container.flip-order {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .two-column-item {
    width: 80vw;
    padding-right: 0em;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .two-column-item.padding-inverted {
    width: 80vw;
    padding-left: 0em;
  }

  .two-column-item._0-padding {
    width: 80vw;
  }

  .price-container {
    width: 100%;
    min-height: 30vh;
    margin-left: 0em;
  }

  .image {
    width: 80vw;
    height: 50vh;
    margin-top: 2em;
  }

  .footer-container {
    padding-top: 5vh;
    padding-bottom: 5vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .footer-left-content-container {
    margin-bottom: 2em;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
  }

  .footer-image {
    margin-right: 0em;
    margin-bottom: 2em;
  }

  .navbar {
    display: none;
  }

  .nav-link-text {
    font-size: 1em;
  }

  .scroller-container {
    overflow: visible;
  }

  .hero-overlay {
    display: none;
  }

  .image-4 {
    width: 25vw;
  }
}

@media screen and (max-width: 767px) {
  .services-container {
    max-width: 100vw;
  }

  .price-container {
    min-height: 30vh;
  }

  .image {
    height: 40vh;
  }

  .image-4 {
    width: 30vw;
  }
}

@media screen and (max-width: 479px) {
  .section.hero {
    min-height: 100vh;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#1c1c1c), color-stop(50%, rgba(28, 28, 28, 0))), -webkit-gradient(linear, left top, left bottom, from(rgba(28, 28, 28, 0)), to(#1c1c1c)), -webkit-gradient(linear, left top, left bottom, from(rgba(28, 28, 28, 0.2)), to(rgba(28, 28, 28, 0.2))), url('../images/hai-phung-m4Pd_e-4zKs-unsplash-min.jpg');
    background-image: linear-gradient(180deg, #1c1c1c, rgba(28, 28, 28, 0) 50%), linear-gradient(180deg, rgba(28, 28, 28, 0), #1c1c1c), linear-gradient(180deg, rgba(28, 28, 28, 0.2), rgba(28, 28, 28, 0.2)), url('../images/hai-phung-m4Pd_e-4zKs-unsplash-min.jpg');
    background-position: 0px 0px, 0px 0px, 0px 0px, 50% 50%;
    background-size: auto, auto, auto, cover;
  }

  .hero-container {
    width: 90vw;
  }

  .h1-heading {
    font-size: 2.5em;
  }

  .services-container {
    width: 90vw;
  }

  ._3-column-card.card-shadow {
    width: 90vw;
  }

  .two-column-item {
    width: 90vw;
  }

  .two-column-item.padding-inverted {
    width: 90vw;
  }

  .two-column-item._0-padding {
    width: 90vw;
  }

  .price-container {
    width: 90vw;
    min-height: 30vh;
    padding: 1.5em;
  }

  .alternate-text {
    font-size: 1.1em;
  }

  .alternate-text._1em-padding-left {
    padding-left: 0.5em;
    font-size: 1.1em;
  }

  .alternate-text._1em-padding-right {
    padding-right: 0.5em;
    font-size: 1.1em;
  }

  .image {
    width: 100%;
    height: 22vh;
  }

  .scroller-container {
    bottom: 4vh;
  }

  .image-4 {
    width: 40vw;
  }
}

