body{
    font-size: 28px;
    width: 100%;
}

#navBar{
    display: grid;
    grid-template: repeat(1,1fr)/repeat(6,1fr);
}

#title{
    display: inline;
    grid-area: 1 / 2 / 1 / 5;
}

#navItems{
    grid-area: 1/6/1/7;
    display:inline;
    margin-top: 45px;
}

#burgerIcon {
    display: inline-block;
    cursor: pointer;
}



#firstBurger, #secondBurger, #thirdBurger{
    width: 35px;
    height: 5px;
    background: #333;
    margin: 6px 0;
    transition: 0.4;
}

#navMenu{
    visibility: hidden;
    background: burlywood;
    max-width: 50%;
    position:absolute;
    z-index: 1;
}
#home, #products ,#prices ,#delivery, #aboutUs{
    display:block;
    text-decoration: none;
    color:black;
    margin-bottom: 2px;
}

/* Rotate first bar */
.changeB1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
    transform: rotate(-45deg) translate(-8px, 8px);
    width: 35px;
    height: 5px;
    background: #333;
    margin: 6px 0;
    transition: 0.4;
  }
  
/* Fade out the second bar */
.changeB2{
opacity: 0;
}
  
/* Rotate last bar */
.changeB3 {
-webkit-transform: rotate(45deg) translate(-8px, -8px) ;
transform: rotate(45deg) translate(-8px, -8px) ;
width: 35px;
height: 5px;
background: #333;
margin: 6px 0;
transition: 0.4;
}


#main{
    display:grid;
    grid-template: repeat(6,1fr) / repeat(6,1fr);
}

.introduction{
    grid-area: 1 / 1 / 1 / 7;
    position: absolute;
    z-index: -1;
}

#cowImg{
    display: 100%;
}
