/* Main parent grid on the website */
body{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

.container{
    background: #f7f7f7;
}

h1 {
    font-family: 'Playfair Display';
    font-weight: 200;
}
h2 {
    font-family: 'Playfair Display';
    font-weight: 200;
}
h3 {
    font-family: 'Playfair Display';
    font-weight: 200;
}
p {
    font-family: 'Source Sans Pro';
}
/* Main parent grid of the navigation bar */
.navigationBar{
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

/* Main page title */
.main-title{
    grid-column-start: 1;
    grid-column-end: 6;
    justify-self: center;
    padding-left: 2%;
    color: #CB904F;
}

.navButtons{
    grid-column-start: 8;
    grid-column-end: 13;
    align-self: end;
    width: 140%;
}

.navAnchor{
    display: inline-block;
    padding-right: 2%;
}

/* Parent grid of the image overlay */
.mainGrid {
    display: grid;
    width: 100%;
    grid-template: repeat(6, 1fr) / repeat(12, 1fr);
}

/* Cow image */
.cowImg {
    grid-area: 1 / 2 / 2 / 12;
    width: 100%;
    z-index: 1;
}

/* Text over the image */
.textToOverlay {
    width: 80%;
    grid-area: 1 / 3 / 2 / 6;
    z-index: 5;
    align-self: center;
    color: white;
    justify-items: start;
} 
/* Blue background positioning */
.intro{
    background: #0C2946;
    grid-area: 2 / 1 / 4 / 13;
    height: 35%;
    bottom: 4%;
    z-index: 0;
    position: relative;
    display: grid;
    grid-template: repeat(6, 1fr) / repeat(6, 1fr);
}

/* Class to move the text */
.textIntro {
    width: 100%;
    justify-self: center;
    grid-area: 3 / 3 / 5 / 5;
    text-align: center;
    color: #ffffff; 
}

.textIntro h2 {
    text-align: center;
    color: #CB904F;
}

/* Style for info cards */
.infoCard {
    grid-area: 3 / 2 / 4 / 5;
    position: relative; 
    background: white;
    bottom: 50%;
    height: 33%;
    width: 80%;
    text-align: center;
    padding: 6% 7%;
    justify-self: start;
}

.infoCard1 {
    grid-area: 3 / 5 / 4 / 8;
    position: relative; 
    background: white;
    bottom: 50%;
    height: 33%;
    width: 80%;
    text-align: center;
    padding: 6% 7%;
    justify-self: start;
    left: 20%;
}

.infoCard2 {
    grid-area: 3 / 9 / 4 / 12;
    position: relative; 
    background: white;
    bottom: 50%;
    height: 33%;
    width: 80%;
    text-align: center;
    padding: 6% 7%;
    justify-self: end;
}
.infoCards h3 {
    color: #CB904F;
}

/* Class for underline */
.underline{
    border-bottom: 3px solid #CB904F;
    width: 15%;
    margin-left: 42%;
    bottom: 4%;
    position: relative;
}

/* Set the background of the image */
.iconBackground {
    padding: 4%;
    border-radius: 50%;
    background: #f7f7f7;
    height: 40px;
    width: 40px;
    margin-left: auto;
    margin-right: auto;
}

