@media only screen and (max-width:1000px){
    /* Hidden content */
    .textToOverlay h1{
        visibility: hidden;
    }
    .textToOverlay p {
        visibility: hidden;
    }
    .textToOverlay {
        visibility: hidden;
        text-indent: -1000em;
    }
    
    /* Parent grid of the image overlay */
    .mainGrid {
        display: grid;
        width: 100%;
        grid-template: repeat(6, 1fr) / repeat(6, 1fr);
        background: #f7f7f7;
    }
    body{
        width: 100%;
        height: 100%;
        margin: 0px;
        padding: 0px;
        overflow-x: hidden; 
    }
    h1 {
        font-family: 'Playfair Display';
        font-weight: 200;
    }
    h2 {
        font-family: 'Playfair Display';
        font-weight: 200;
    }
    h3 {
        font-family: 'Playfair Display';
        font-weight: 200;
    }
    p {
        font-family: 'Source Sans Pro';
    }
    .navigationBar{
        display: grid;
        width: 100%;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    }
    .main-title{
        grid-column-start: 2;
        grid-column-end: 4;
        justify-self: center;
        padding-left: 2%;
        color: #CB904F;
        width: 100%;
        font-size: 22px;
    }
    .dropdown {
        position: relative;
        display: inline-block;
        grid-column-start: 6;
        grid-column-end: 7;
        align-self: center;
        background: transparent;
        border: none;
    }
    button.dropbtn{
        background: white;
        border: none;
        align-self: center;
    }
    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
      }
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: white;
        min-width: 160px;
        z-index: 100;
    }
    /* Makes burger button */
    .burger {
        width: 35px;
        height: 5px;
        background-color: black;
        margin: 6px 0;
    }

    /* Change color of dropdown links on hover */
    .dropdown-content a:hover {background-color: #ddd;}

    /* Show the dropdown menu on hover */
    .dropdown:hover .dropdown-content {display: block;}

    /* Change the background color of the dropdown button when the dropdown content is shown */
    .dropdown:hover .dropbtn {background-color: #f7f7f7;
    border:none;}

    .cowImg{
        z-index: 0;
        width: 100%;
        height: 45%;
        grid-area: 1 / 1 / 1 / 7;
        z-index: 20;
    }
 
    /* Style for info cards */
    .infoCard {
        grid-area: 2 / 1 / 3 / 7;
        position: relative; 
        background: white;
        bottom: 27%;
        height: 33%;
        width: 80%;
        padding-top: 7%;
        text-align: center;
        justify-self: center;
        z-index: 50;
    }

    .infoCard1 {
        grid-area: 2 / 1 / 3 / 7;
        position: relative; 
        background: white;
        z-index: 50;
        top: 18%;
        height: 33%;
        width: 80%;
        text-align: center;
        justify-self: center;
        padding-top: 7%;
    }

    .infoCard2 {
        grid-area: 2 / 1 / 3 / 7;
        position: relative; 
        background: white;
        z-index: 50;
        top: 63%;
        height: 33%;
        width: 80%;
        text-align: center;
        justify-self: center;
        padding-top: 7%;
    }
    .infoCards h3 {
        color: #CB904F;
    }

    /* Class for underline */
    .underline{
        border-bottom: 3px solid #CB904F;
        width: 15%;
        margin-left: 42%;
        bottom: 4%;
        position: relative;
    }

    /* Set the background of the image */
    .iconBackground {
        padding: 4%;
        border-radius: 50%;
        background: #f7f7f7;
        height: 40px;
        width: 40px;
        margin-left: auto;
        margin-right: auto;
    }
    /* Blue background positioning */
    .intro{
        background: #0C2946;
        grid-area: 2 / 1 / 4 / 7;
        height: 85%;
        bottom: 30%;
        z-index: 10;
        position: relative;
        display: grid;
        
        grid-template: repeat(6, 1fr) / repeat(6, 1fr);
    }

    /* Class to move the text */
    .textIntro {
        width: 100%;
        grid-area: 1 / 2 / 2 / 6;
        text-align: center;
        justify-self: center;
        color: #ffffff; 
        font-size: 24px;  
        margin-top: 12%;
        margin-bottom: 3%;
    }

    .textIntro h2 {
        text-align: center;
        color: #CB904F;
    }
    /* Sets the container for the img/opposite text layout */
    .imgTextContainer{
        grid-area: 3 / 1 / 6 / 7;
        grid-template: repeat(6, 1fr) / repeat(6, 1fr);
        display: grid;
        width: 100%;
       
    }

    .imgTextContainer button {
        background: #CC6929;
        color: white;
        border: none;
        padding: 2%;
    }

    .imgTextContainer h2 {
        color: #CB904F;
    }

    .textImgSide {
        grid-area:  2 / 1 / 2 / 7;
        position: relative; 
        justify-self: center;
        bottom: 15%;
        width: 90%;
        height: 20%;
    }

    .textButton { 
        grid-area: 3 / 1 / 3 / 7;
        align-self: start;
        position: relative;
        width: 90%;
        justify-self: center;
    }
    .textButton button {
        padding: 2%;
    }
    .textImgSide2 {
        grid-area:  4 / 1 / 4 / 7;
        position: relative; 
        justify-self: center;
        margin-top: 8%;
        width: 90%;
        height: 20%;
    }

    .textButton2 { 
        grid-area: 5 / 1 / 5 / 7;
        align-self: start;
        position: relative;
        margin-top: 6%;
        width: 90%;
        justify-self: center;
    }

    /* Sets white background img layout */
    .imgTextContainer1 {
        grid-area: 6 / 1 / 6 / 7;
        grid-template: repeat(1, 1fr) / repeat(6, 1fr);
        display: grid;
        width: 90%;
        justify-self: center;
        background: white;
        position: relative;
        height: 65%;
        bottom: 30%;
        font-size: 24px;
    }

    .textImgSide3 {
        visibility: hidden;
    }

    .textButton3 { 
        grid-area:  1 / 2 / 7 / 5;
        position: relative;
        display: inline;
        align-self: center;
    }

    .textButton3 h4 {
        display: inline;
        color: #CB904F;
        font-weight: 400;
    }
    .imgTextContainer1 h1 {
        color: #CB904F;
    }

    .customerSat{
        margin-left: 4%;
        font-weight: 1;
        display: inline;
        color: grey !important;
    }
    /* Main parent grid of the navigation bar */
    .footerBar{
        background: #0C2946;
        color: white;
        text-align: center;
        font-weight: 200;
        font-size: 12px;
        padding-top: 10%;
        padding-bottom: 5%;
        position: relative;
    }

    /* Main page title */
    .footer-title{
       color: #CB904F;
    }

    .footerButtons{
        margin-top: 2%;
    }

    .footerAnchor{
        margin-top: 2%;
    }

    .lodgeRights {
        margin-top: 5%;
    }

    .social {
        margin-top: 2%;
    }

    .socialText {
        margin-top: 5%;
    }

}
@media only screen and (min-width: 1650px){

/* Things to be hidden from normal display (everything but mobile/tablet) */
.dropbtn{
    visibility: hidden;
}
.burger {
    visibility: hidden;
}

/* Main parent grid on the website */
    body{
        width: 100%;
        height: 100%;
        margin: 0px;
        padding: 0px;
        overflow-x: hidden; 
    }

    .container{
        background: #f7f7f7;
    }

    h1 {
        font-family: 'Playfair Display';
        font-weight: 200;
    }
    h2 {
        font-family: 'Playfair Display';
        font-weight: 200;
    }
    h3 {
        font-family: 'Playfair Display';
        font-weight: 200;
    }
    p {
        font-family: 'Source Sans Pro';
    }
    /* Main parent grid of the navigation bar */
    .navigationBar{
        display: grid;
        width: 100%;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }

    /* Main page title */
    .main-title{
        grid-column-start: 1;
        grid-column-end: 6;
        justify-self: center;
        padding-left: 2%;
        color: #CB904F;
        align-self: end;
    }

    .navButtons{
        grid-column-start: 8;
        grid-column-end: 13;
        align-self: end;
        width: 140%;
    }

    .navAnchor{
        display: inline-block;
        padding-right: 2%;
    }

    /* Parent grid of the image overlay */
    .mainGrid {
        display: grid;
        width: 100%;
        grid-template: repeat(4, 1fr) / repeat(12, 1fr);
    }

    /* Cow image */
    .cowImg {
        grid-area: 1 / 2 / 2 / 12;
        width: 100%;
        z-index: 1;
    }

    /* Text over the image */
    .textToOverlay {
        width: 80%;
        grid-area: 1 / 3 / 2 / 6;
        z-index: 5;
        align-self: center;
        color: white;
        justify-items: start;
    } 
    /* Blue background positioning */
    .intro{
        background: #0C2946;
        grid-area: 2 / 1 / 4 / 13;
        height: 35%;
        bottom: 4%;
        z-index: 0;
        position: relative;
        display: grid;
        grid-template: repeat(6, 1fr) / repeat(6, 1fr);
    }

    /* Class to move the text */
    .textIntro {
        width: 100%;
        justify-self: center;
        grid-area: 3 / 3 / 5 / 5;
        text-align: center;
        color: #ffffff; 
    }

    .textIntro h2 {
        text-align: center;
        color: #CB904F;
    }

    /* Style for info cards */
    .infoCard {
        grid-area: 3 / 2 / 4 / 5;
        position: relative; 
        background: white;
        bottom: 50%;
        height: 33%;
        width: 80%;
        text-align: center;
        padding: 6% 7%;
        padding-bottom: 12%;
        justify-self: start;
    }

    .infoCard1 {
        grid-area: 3 / 5 / 4 / 8;
        position: relative; 
        background: white;
        bottom: 50%;
        height: 33%;
        width: 80%;
        text-align: center;
        padding: 6% 7%;
        padding-bottom: 12%;
        justify-self: start;
        left: 20%;
    }

    .infoCard2 {
        grid-area: 3 / 9 / 4 / 12;
        position: relative; 
        background: white;
        bottom: 50%;
        height: 33%;
        width: 80%;
        text-align: center;
        padding: 6% 7%;
        padding-bottom: 12%;
        justify-self: end;
    }
    .infoCards h3 {
        color: #CB904F;
    }

    /* Class for underline */
    .underline{
        border-bottom: 3px solid #CB904F;
        width: 15%;
        margin-left: 42%;
        bottom: 4%;
        position: relative;
    }

    /* Set the background of the image */
    .iconBackground {
        padding: 4%;
        border-radius: 50%;
        background: #f7f7f7;
        height: 40px;
        width: 40px;
        margin-left: auto;
        margin-right: auto;
    }

    /* Sets the container for the img/opposite text layout */
    .imgTextContainer{
        grid-area: 3 / 1 / 5 / 13;
        grid-template: repeat(2, 1fr) / repeat(12, 1fr);
        margin-top: 4%;
        display: grid;
        width: 100%;
    }

    .imgTextContainer button {
        background: #CC6929;
        color: white;
        border: none;
        padding: 2%;
    }

    .imgTextContainer h2 {
        color: #CB904F;
    }

    .textImgSide {
        grid-area:  1 / 3 / 1 / 6;
        position: relative; 
        justify-self: start;
    }

    .textButton { 
        grid-area: 1 / 7 / 1 / 11;
        align-self: start;
        position: relative;
        margin-top: 6%;
        width: 60%;
    }

    .textImgSide2 {
        grid-area: 2 / 7 / 2 / 11;
        position: relative; 
        display: inline;
        margin-top: 6%;
        bottom: 40%;
    }

    .textButton2 { 
        grid-area:  2 / 3 / 2 / 7;
        align-self: start;
        position: relative;
        display: inline;
        bottom: 40%;
        width: 60%;
    }

    /* Sets white background img layout */
    .imgTextContainer1 {
        grid-area: 4 / 3 / 5 / 13;
        grid-template: repeat(1, 1fr) / repeat(12, 1fr);
        margin-top: 10%;
        display: grid;
        width: 80%;
        background: white;
        align-items: center;
        height: 70%;
    }

    .textImgSide3 {
        grid-area: 2 / 8 / 1 / 12;
        position: relative; 
        display: inline;
        margin-top: 6%;
    
    }

    .textButton3 { 
        grid-area:  2 / 4 / 1 / 7;
        position: relative;
        display: inline;
        
    }

    .textButton3 h4 {
        display: inline;
        color: #CB904F;
        font-weight: 400;
    }
    .imgTextContainer1 h1 {
        color: #CB904F;
    }

    .customerSat{
        margin-left: 4%;
        font-weight: 1;
        display: inline;
        color: grey !important;
    }

    /* Main parent grid of the navigation bar */
    .footerBar{
        display: grid;
        width: 100%;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        background: #0C2946;
    }

    /* Main page title */
    .footer-title{
        grid-column-start: 2;
        grid-column-end: 3;
        color: #CB904F;
        width: 140%;
        display:inline;
    }

    .footerButtons{
        grid-column-start: 10;
        grid-column-end: 13;
        align-self: end;
        width: 140%;
        color: white;
    }

    .footerAnchor{
        display: inline-block;
        padding-right: 5%;
        color: white;
    }

    .lodgeRights {
        color: white;
        grid-column-start: 2;
        grid-column-end: 3;
        width: 140%;
    }

    .social {
        color: white;
        grid-column-start: 10;
        grid-column-end: 13;
    }

    .socialText {
        grid-column-start: 10;
        grid-column-end: 13;
        color: white;
    }
}

/* Change back to 900 when mobile comes in */
@media only screen and (min-width: 1000px) and (max-width:1650px){
    /* Main parent grid on the website */
body{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

.container{
    background: #f7f7f7;
}

h1 {
    font-family: 'Playfair Display';
    font-weight: 200;
}
h2 {
    font-family: 'Playfair Display';
    font-weight: 200;
}
h3 {
    font-family: 'Playfair Display';
    font-weight: 200;
}
p {
    font-family: 'Source Sans Pro';
}
/* Main parent grid of the navigation bar */
.navigationBar{
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    font-size: 14px;
}

/* Main page title */
.main-title{
    grid-column-start: 1;
    grid-column-end: 3;
    justify-self: center;
    padding-left: 2%;
    color: #CB904F;
    font-size: 8px;
}

.navButtons{
    grid-column-start: 4;
    grid-column-end: 7;
    align-self: end;
    width: 100%;
}

.navAnchor{
    display: inline-block;
    padding-right: 2%;
}

/* Parent grid of the image overlay */
.mainGrid {
    display: grid;
    width: 100%;
    grid-template: repeat(4, 1fr) / repeat(12, 1fr);
    font-size: 14px;
}

/* Cow image */
.cowImg {
    grid-area: 1 / 2 / 2 / 12;
    width: 100%;
    z-index: 1;
}

/* Text over the image */
.textToOverlay {
    width: 80%;
    grid-area: 1 / 3 / 2 / 6;
    z-index: 5;
    align-self: center;
    color: white;
    justify-items: start;
} 
/* Blue background positioning */
.intro{
    background: #0C2946;
    grid-area: 2 / 1 / 4 / 13;
    height: 35%;
    bottom: 4%;
    z-index: 0;
    position: relative;
    display: grid;
    grid-template: repeat(6, 1fr) / repeat(6, 1fr);
}

/* Class to move the text */
.textIntro {
    width: 100%;
    justify-self: center;
    grid-area: 3 / 3 / 5 / 5;
    text-align: center;
    color: #ffffff; 
    font-size: 14px;
}

.textIntro h2 {
    text-align: center;
    color: #CB904F;
}

/* Style for info cards */
.infoCard {
    grid-area: 3 / 2 / 4 / 5;
    position: relative; 
    background: white;
    bottom: 45%;
    height: 33%;
    width: 80%;
    text-align: center;
    padding-bottom: 30%;
    padding-top: 10%;
    justify-self: start;
}

.infoCard1 {
    grid-area: 3 / 5 / 4 / 8;
    position: relative; 
    background: white;
    bottom: 45%;
    height: 33%;
    width: 80%;
    text-align: center;
    padding-bottom: 30%;
    padding-top: 10%;
    justify-self: start;
    left: 20%;
}

.infoCard2 {
    grid-area: 3 / 9 / 4 / 12;
    position: relative; 
    background: white;
    bottom: 45%;
    height: 33%;
    width: 80%;
    text-align: center;
    padding-bottom: 30%;
    padding-top: 10%;
    justify-self: end;
}
.infoCards h3 {
    color: #CB904F;
}

/* Class for underline */
.underline{
    border-bottom: 3px solid #CB904F;
    width: 15%;
    margin-left: 42%;
    bottom: 4%;
    position: relative;
}

/* Set the background of the image */
.iconBackground {
    padding: 4%;
    border-radius: 50%;
    background: #f7f7f7;
    height: 40px;
    width: 40px;
    margin-left: auto;
    margin-right: auto;
}

/* Sets the container for the img/opposite text layout */
.imgTextContainer{
    grid-area: 3 / 1 / 5 / 13;
    grid-template: repeat(3, 1fr) / repeat(6, 1fr);
    margin-top: 10%;
    display: grid;
    width: 100%;
}

.imgTextContainer button {
    background: #CC6929;
    color: white;
    border: none;
    padding: 2%;
}

.imgTextContainer h2 {
    color: #CB904F;
}

.imgTextContainer img {
    width: 400px;
}

.textImgSide {
    grid-area:  1 / 2 / 1 / 3;
    position: relative; 
    justify-self: start;
}

.textButton { 
    grid-area: 1 / 3 / 1 / 7;
    justify-self: center;
    position: relative;
    margin-top: 2%;
    width: 60%;
}

.textImgSide2 {
    grid-area: 3 / 3 / 3 / 7;
    position: relative; 
    display: inline;
    bottom: 75%;
}

.textButton2 { 
    grid-area:  3 / 2 / 3 / 3;
    align-self: start;
    position: relative;
    display: inline;
    bottom: 75%;
    width: 60%;
}

/* Sets white background img layout */
.imgTextContainer1 {
    grid-area: 5 / 3 / 5 / 13;
    grid-template: repeat(1, 1fr) / repeat(12, 1fr);
    display: grid;
    width: 80%;
    background: white;
    align-items: center;
    height: 80%;
    margin-bottom: 10%;
    position: relative;
    bottom: 55%;
}
.imgTextContainer1 img {
    height: 250px;
}

.textImgSide3 {
    grid-area: 2 / 8 / 1 / 12;
    position: relative; 
    display: inline;
}

.textButton3 { 
    grid-area:  2 / 4 / 1 / 7;
    position: relative;
    display: inline;
    
}

.textButton3 h4 {
    display: inline;
    color: #CB904F;
    font-weight: 400;
}
.imgTextContainer1 h1 {
    color: #CB904F;
}

.customerSat{
    margin-left: 4%;
    font-weight: 1;
    display: inline;
    color: grey !important;
}

/* Main parent grid of the navigation bar */
.footerBar{
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    background: #0C2946;
    font-size: 14px;
}

/* Main page title */
.footer-title{
    grid-column-start: 2;
    grid-column-end: 3;
    color: #CB904F;
    width: 100%;
    display:inline;
}

.footerButtons{
    grid-column-start: 4;
    grid-column-end: 7;
    align-self: end;
    width: 100%;
    color: white;
}

.footerAnchor{
    display: inline-block;
    padding-right: 5%;
    color: white;
}

.lodgeRights {
    color: white;
    grid-column-start: 2;
    grid-column-end: 3;
    width: 140%;
}

.social {
    color: white;
    grid-column-start: 4;
    grid-column-end: 7;
}

.socialText {
    grid-column-start: 4;
    grid-column-end: 7;
    color: white;
}

    /* Change back to 900 when mobile comes in */
    @media (min-width: 600px) and (max-width : 900px){
    body{
        width: 100%;
        height: 100%;
        margin: 0px;
        padding: 0px;
        overflow-x: hidden; 
    }

    .container{
        background: #f7f7f7;
    }

    h1 {
        font-family: 'Playfair Display';
        font-weight: 200;
    }
    h2 {
        font-family: 'Playfair Display';
        font-weight: 200;
    }
    h3 {
        font-family: 'Playfair Display';
        font-weight: 200;
    }
    p {
        font-family: 'Source Sans Pro';
    }
    /* Main parent grid of the navigation bar */
    .navigationBar{
        display: grid;
        width: 100%;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        font-size: 8px;
    }

    /* Main page title */
    .main-title{
        grid-column-start: 1;
        grid-column-end: 3;
        justify-self: center;
        padding-left: 2%;
        color: #CB904F;
    }

    .navButtons{
        grid-column-start: 4;
        grid-column-end: 7;
        align-self: end;
        width: 140%;
    }

    .navAnchor{
        display: inline-block;
        padding-right: 2%;
    }

    /* Parent grid of the image overlay */
    .mainGrid {
        display: grid;
        width: 100%;
        grid-template: repeat(4, 1fr) / repeat(12, 1fr);
        font-size: 10px;
    }

    /* Cow image */
    .cowImg {
        grid-area: 1 / 2 / 2 / 12;
        width: 100%;
        z-index: 1;
    }

    /* Text over the image */
    .textToOverlay {
        width: 90%;
        grid-area: 1 / 3 / 1 / 6;
        z-index: 5;
        margin-top: 8%;
        align-self: start;
        color: white;
        justify-items: start;
    } 
    /* Blue background positioning */
    .intro{
        background: #0C2946;
        grid-area: 2 / 1 / 4 / 13;
        height: 30%;
        padding-bottom: 5%;
        bottom: 16%;
        z-index: 0;
        position: relative;
        display: grid;
        grid-template: repeat(6, 1fr) / repeat(6, 1fr);
    }

    /* Class to move the text */
    .textIntro {
        width: 100%;
        justify-self: center;
        grid-area: 1 / 3 / 4 / 5;
        text-align: center;
        color: #ffffff; 
        font-size: 14px;
    }

    .textIntro h2 {
        text-align: center;
        color: #CB904F;
    }

    /* Style for info cards */
    .infoCard {
        grid-area: 3 / 2 / 4 / 5;
        position: relative; 
        background: white;
        bottom: 80%;
        height: 33%;
        width: 80%;
        text-align: center;
        padding-bottom: 30%;
        padding-top: 10%;
        justify-self: start;
        padding-left: 10%;
        padding-right: 10%;
    }

    .infoCard1 {
        grid-area: 3 / 5 / 4 / 8;
        position: relative; 
        background: white;
        bottom: 80%;
        height: 33%;
        width: 80%;
        text-align: center;
        padding-bottom: 30%;
        padding-top: 10%;
        justify-self: start;
        left: 20%;
        padding-left: 10%;
        padding-right: 10%;
    }

    .infoCard2 {
        grid-area: 3 / 9 / 4 / 12;
        position: relative; 
        background: white;
        bottom: 80%;
        height: 33%;
        width: 80%;
        text-align: center;
        padding-bottom: 30%;
        padding-top: 10%;
        justify-self: end;
        padding-left: 10%;
        padding-right: 10%;
    }
    .infoCards h3 {
        color: #CB904F;
    }

    /* Class for underline */
    .underline{
        border-bottom: 3px solid #CB904F;
        width: 15%;
        margin-left: 42%;
        bottom: 4%;
        position: relative;
    }

    /* Set the background of the image */
    .iconBackground {
        padding: 4%;
        border-radius: 50%;
        background: #f7f7f7;
        height: 40px;
        width: 40px;
        margin-left: auto;
        margin-right: auto;
    }

    /* Sets the container for the img/opposite text layout */
    .imgTextContainer{
        grid-area: 3 / 1 / 5 / 13;
        grid-template: repeat(3, 1fr) / repeat(6, 1fr);
        margin-top: 10%;
        display: grid;
        width: 100%;
    }

    .imgTextContainer button {
        background: #CC6929;
        color: white;
        border: none;
        padding: 2%;
    }

    .imgTextContainer h2 {
        color: #CB904F;
    }

    .imgTextContainer img {
        width: 400px;
    }

    .textImgSide {
        grid-area:  1 / 2 / 1 / 3;
        position: relative; 
        justify-self: start;
    }

    .textButton { 
        grid-area: 1 / 3 / 1 / 7;
        justify-self: center;
        position: relative;
        margin-top: 2%;
        width: 60%;
    }

    .textImgSide2 {
        grid-area: 3 / 3 / 3 / 7;
        position: relative; 
        display: inline;
        bottom: 75%;
    }

    .textButton2 { 
        grid-area:  3 / 2 / 3 / 3;
        align-self: start;
        position: relative;
        display: inline;
        bottom: 75%;
        width: 60%;
    }

    /* Sets white background img layout */
    .imgTextContainer1 {
        grid-area: 5 / 3 / 5 / 13;
        grid-template: repeat(1, 1fr) / repeat(12, 1fr);
        display: grid;
        width: 80%;
        background: white;
        align-items: center;
        height: 80%;
        margin-bottom: 10%;
        position: relative;
        bottom: 55%;
    }
    .imgTextContainer1 img {
        height: 250px;
    }

    .textImgSide3 {
        grid-area: 2 / 8 / 1 / 12;
        position: relative; 
        display: inline;
    }

    .textButton3 { 
        grid-area:  2 / 4 / 1 / 7;
        position: relative;
        display: inline;
        
    }

    .textButton3 h4 {
        display: inline;
        color: #CB904F;
        font-weight: 400;
    }
    .imgTextContainer1 h1 {
        color: #CB904F;
    }

    .customerSat{
        margin-left: 4%;
        font-weight: 1;
        display: inline;
        color: grey !important;
    }

    /* Main parent grid of the navigation bar */
    .footerBar{
        display: grid;
        width: 100%;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        background: #0C2946;
        font-size: 14px;
    }

    /* Main page title */
    .footer-title{
        grid-column-start: 2;
        grid-column-end: 3;
        color: #CB904F;
        width: 1400%;
        display:inline;
    }

    .footerButtons{
        grid-column-start: 4;
        grid-column-end: 7;
        align-self: end;
        width: 100%;
        color: white;
    }

    .footerAnchor{
        display: inline-block;
        padding-right: 5%;
        color: white;
    }

    .lodgeRights {
        color: white;
        grid-column-start: 2;
        grid-column-end: 3;
        width: 1400%;
    }

    .social {
        color: white;
        grid-column-start: 4;
        grid-column-end: 7;
    }

    .socialText {
        grid-column-start: 4;
        grid-column-end: 7;
        color: white;
    }
    }}